@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    opacity: 0;
    animation: aparecer 1s ease forwards;
    background-color: rgb(0, 0, 0);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

@keyframes aparecer {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    margin: 15px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav-bar .nav-list {
    display: flex;
}

.nav-item {
    margin: 20px;
    list-style: none;
}

.nav-item .nav-link {
    font-size: 17px;
    padding-bottom: 24px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

.nav-item .nav-link:hover {
    text-shadow: 0px 0px 15px white;
    border-bottom: 1px solid white;
}

.search {
    display: flex;
}

.search-input {
    text-align: left;
    color: white;
    padding: 10px 40px;
    background-color: rgba(17, 17, 17, 0);
    border-radius: 20px;
    border: 1px solid rgb(41, 41, 41);
    transition: border 0.3s ease;
}

.search-input:hover {
    border: 1px solid rgb(160, 160, 160);
}

.search-button {
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.search-button:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    background-color: black;
}

.movie-stranger {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.671)), url("../img/stranger-things-fund.jpg") no-repeat;
    background-size: cover;
}

.content {
    margin: 150px 0 0 100px;
    border-radius: 15px;
}

.content .netflix {
    margin-left: 5px;
    font-weight: 100;
    font-size: 1.1rem;
    color: white;
}

.content h1 {
    font-size: 3.3rem;
    color: white;
}

.content-sinopse {
    margin-top: 15px;
    width: 50%;
    display: flex;
}

.sinopse {
    display: flex;
    color: white;
}

.watch-stranger {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    border-radius: 15px;
}

.watch-stranger a {
    margin-right: 5px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    padding: 25px 20px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.watch-stranger > .add-favorites {
    width: 80%;
    color: black;
    background-color: white;
    transition: border 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.watch-stranger > .add-favorites:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.watch-stranger a:hover {
    color: black;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
}

.assine {
    margin: 10px 0 0 10px;
    color: rgb(128, 128, 128);
}

.poster {
    margin-right: 12em;
}

.poster img {
    border-radius: 20px;
    transition: transform 1s ease;
}

.poster img:hover {
    transform: scale(1.03);
}

.special-movies {
    box-shadow: 0px -150px 100px rgb(0, 0, 0);
    padding: 15px;
    background-color: black;
    width: 100%;
}

.highlights-movies .alta {
    margin-left: 20px;
    font-size: 1.8rem;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-bottom: 1px solid rgb(102, 0, 0);
}

.highlights-movies > .movies {
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.prevNext {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 15px;
}

.prevNext button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid rgb(104, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.prevNext button:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.2);
}

.lista-filmes {
    padding: 15px;
    overflow-x: hidden;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
}

.lista-filmes img {
    width: 250px;
    height: 380px;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.lista-filmes p {
    margin-top: 15px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.lista-filmes img:hover {
    transform: scale(1.035);
}

.movie-avatar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0.966)), url("../img/avatar-fund.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.filter {
    z-index: 1000;
    display: flex;
    position: fixed;
}

.item-button {
    text-transform: uppercase;
    width: 50px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: 1.2px solid rgba(68, 68, 68, 0.212);
    padding: 10px 20px;
    color: white;
    transition: background-color 0.2s ease;
}

.item-button:hover {
    background-color: red;
    border-bottom: 1px solid red;
}

.content-movies {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 100px;
    color: white;
}

.content-movies > h1 {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid rgb(32, 32, 32);
    background: linear-gradient(180deg, #00000060, #0a0a0a44, #1111113d);
}

.geral {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.geral img {
    width: 320px;
    height: 450px;
}

.geral p {
    margin-bottom: 40px;
}

.movies-gratuito {
    margin-top: 70px;
    padding: 50px;
    border-top: 1px solid rgb(59, 59, 59);
}

.gratuito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.movies-gratuito h3 {
    font-size: 1.5rem;
    color: white;
}

.movies-gratuito p {
    font-size: 1.5rem;
    color: white;
}

.desc-movieZone {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.desc-movieZone p {
    text-align: center;
    width: 70%;
    color: rgb(92, 92, 92);
    font-size: 1rem;
}

/*============================= CATEGORIAS =============================*/

.categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 25px;
    padding: 50px;
}

.categorias h1 {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.089);
    color: white;
    font-size: 2.6rem;
    text-align: center;
}

.categorias p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3rem;
}

.categoria-movies {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoria-movies div {
    width: 300px;
    height: 450px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgb(39, 39, 39);
    transition: transform 0.5s ease, text-shadow 0.4s ease;
}

.categoria-movies div:hover, .categoria-movies p:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.486);
    transform: scale(1.02);
    border: 1px solid rgb(134, 134, 134);
}

.categoria-movies h2 {
    font-size: 1.4rem;
    text-align: center;
    color: white;
}

.grid-acao {
    background: linear-gradient(rgba(0, 0, 0, 0.788)),  url("../img/filme-predador-terras-selvagens.png") no-repeat center;
    background-size: cover;
}

.grid-terror {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/filme-panico7.png") no-repeat center;
    background-size: cover;
}

.grid-animacao {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/filme-zootopia2.png") no-repeat center;
    background-size: cover;
}

.grid-aventura {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/devoradores-de-estrelas.png") no-repeat center;
    background-size: cover;
}

.grid-ficcao {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/homem-aranha-de-voltar-ao-lar.png") no-repeat center;
    background-size: cover;
}

.grid-comedia {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/anaconda.png") no-repeat center;
    background-size: cover;
}

.grid-fantasia {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/harry-potter.png") no-repeat center;
    background-size: cover;
}

.grid-guerra {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/coracoes-de-ferro.png") no-repeat center;
    background-size: cover;
}

.grid-romance {
    background: linear-gradient(rgba(0, 0, 0, 0.788)), url("../img/nossa-culpa.png") no-repeat center;
    background-size: cover;
}

/*============================= FOOTER =============================*/

.footer {
    border-top: 1.3px solid rgb(59, 59, 59);
    padding: 30px;
    gap: 100px;
}

.footer a, p {
    text-decoration: none;
    color: gray;
    padding: 15px;
}

.footer-display {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.direitos {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
